.image1
{
    border-radius: 15px;
}

.texte1
{
    margin-top: -15px;
}
.textegris
{
    margin-top: -15px;
}

.prix
{
    margin-top: -15px;
}

#listHab
{
    margin-left: 250px;
    display: inline-block;
}

.cadre
{
    display: inline-block;
    margin-left: 50px;
}

#logout
{
    margin-top: 25px;
    float: right;
    border: 1px solid pink;
    width: 100px;
    height: 35px;
    text-align: center;

}

a
{   
    margin-top: 5px;
    color: pink;
    text-decoration: none;
}